<header class="header">
  <div class="profile-container">
  <img src="assets/Priyanka_Shinraj.png" alt="Priyanka Shinraj" class="profile-pic" />
  <div class="profile-text">
    <h1>Priyanka Shinraj</h1>
    <p>Web Developer | CRM Consultant | Scrum Master</p>
  </div>
</div>
  <!-- <div class="profile-heading">
    <h1>Welcome to My Portfolio</h1>
    <p>Front-End Developer specializing in Angular</p>
  </div>
  <div class="profile-picture">
    <img src="assets/Priyanka_Shinraj.png" alt="Profile Picture" class="profile-pic" />
    <h1>Shinraj Priyanka</h1>
  </div> -->
</header>
