.skills-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
}

.skills h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-left: 40px;
}

.skills-category {
  background: white;
  border-radius: 8px;
  padding: 8px;
}

.skills-category h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.skills-category ul {
  list-style-type: disclosure-closed;
  padding-left: 1.5rem;
}

.skills-category li {
  margin-bottom: 0.4rem;
}
